<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{template/main :: layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>All Companies</title>
</head>
<body>
<section class="col-12">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Distance</th>
            <th>Company ID</th>
            <th>Company Name</th>
        </tr>
        </thead>
        <div th:each="station : ${stations}">
            <tbody>
            <tr>
                <th scope="row" th:text="${station.id}">1</th>
                <td th:text="${station.name}">Name</td>
                <td th:text="${station.latitude}">Name</td>
                <td th:text="${station.longitude}">Name</td>
                <td th:text="${station.distance}+' km'">Name</td>
                <td th:text="${station.company.id}">Name</td>
                <td th:text="${station.company.name}">Name</td>
            </tr>
            </tbody>
        </div>
    </table>
    <hr>
    <form method="get" action="/">
        <button type="submit" class="btn btn-link">go to home</button>
    </form>
</section>
</body>
</html>