<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{template/main :: layout(~{::section})}">
<head>
    <title>main</title>
</head>
<body>
<section class="text-center">
    <div th:if="${error}" class="alert alert-warning" role="alert" th:text="${error}"> </div>
    <h1 class="text-info">COMPANY</h1>
    <hr>
    <h2>Show All Companies</h2>

    <form class="form-inline" th:action="@{/all-companies}" th:method="post">
        <input type="number" class="form-control mb-2 mr-sm-2" placeholder="Enter Page Number (0)" name="page" min="0">
        <input type="number" class="form-control mb-2 mr-sm-2" placeholder="Enter Size Number (30)" name="limit" min="1">
        <button type="submit" class="btn btn-primary mb-2">Show</button>
    </form>

    <hr>
    <h2>Show Specific Company</h2>

    <form class="form-inline" th:action="@{/single-company}" method="post">
        <input type="number" class="form-control mb-2 mr-sm-2" placeholder="Enter Company ID (0)" name="id" min="1">
        <button type="submit" class="btn btn-primary mb-2">Show</button>
    </form>
    <hr>
    <h2>Delete Company</h2>

    <form class="form-inline" th:action="@{/delete-company}" method="post">
        <input type="number" class="form-control mb-2 mr-sm-2" placeholder="Enter Company ID (0)" name="id" min="1">
        <button type="submit" class="btn btn-danger mb-2">Delete</button>
    </form>

    <hr>
    <h2>Update Company</h2>

    <form class="form-inline" th:action="@{/update-company}" method="post">
        <input type="number" class="form-control mb-2 mr-sm-2" placeholder="Enter Company ID" name="id" min="1">
        <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Enter Company Name" name="name" min="1">
        <input type="number" class="form-control mb-2 mr-sm-2" placeholder="Enter Parent Company ID" name="parentid" min="1">
        <button type="submit" class="btn btn-primary mb-2">Update</button>
    </form>
    <hr>
    <h2>Create Company</h2>

    <form class="form-inline" th:action="@{/create-company}" method="post">
        <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Enter Company Name" name="name" min="1">
        <input type="number" class="form-control mb-2 mr-sm-2" placeholder="Enter Parent Company ID" name="parentid" min="1">
        <button type="submit" class="btn btn-primary mb-2">Create</button>
    </form>
    <hr>

    <h1 class="text-info">STATION</h1>
    <hr>
    <h2>Show All Stations</h2>
    <form class="form-inline" th:action="@{/all-stations}" method="post">
        <input type="number" class="form-control mb-2 mr-sm-2" placeholder="Enter Page Number (0)" name="page" min="0">
        <input type="number" class="form-control mb-2 mr-sm-2" placeholder="Enter Size Number (30)" name="limit" min="1">
        <button type="submit" class="btn btn-primary mb-2">Show</button>
    </form>
    <hr>
    <h2>Show Specific Station</h2>
    <form class="form-inline" th:action="@{/single-station}" method="post">
        <input type="number" class="form-control mb-2 mr-sm-2" placeholder="Enter Station ID" name="id" min="1">
        <button type="submit" class="btn btn-primary mb-2">Show</button>
    </form>
    <hr>
    <h2>Delete Station</h2>
    <form class="form-inline" th:action="@{/delete-station}" method="post">
        <input type="number" class="form-control mb-2 mr-sm-2" placeholder="Enter Station ID" name="id" min="1">
        <button type="submit" class="btn btn-danger mb-2">Delete</button>
    </form>

    <hr>
    <h2>Update Station</h2>
    <form class="form-inline" th:action="@{/update-station}" method="post">
        <input type="number" class="form-control mb-2 mr-sm-2" placeholder="Enter Station ID" name="id" min="1">
        <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Enter Station Name" name="name">
        <input type="number" class="form-control mb-2 mr-sm-2" placeholder="Enter Station Latitude" name="latitude" step="0.000001">
        <input type="number" class="form-control mb-2 mr-sm-2" placeholder="Enter Station Longitude" name="longitude" step="0.000001">
        <input type="number" class="form-control mb-2 mr-sm-2" placeholder="Enter Company ID" name="companyid" min="1">
        <button type="submit" class="btn btn-primary mb-2">Update</button>
    </form>
    <hr>
    <h2>Create Station</h2>
    <form class="form-inline" th:action="@{/create-station}" method="post">
        <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Enter Station Name" name="name">
        <input type="number" class="form-control mb-2 mr-sm-2" placeholder="Enter Station Latitude" name="latitude" step="0.000001">
        <input type="number" class="form-control mb-2 mr-sm-2" placeholder="Enter Station Longitude" name="longitude" step="0.000001">
        <input type="number" class="form-control mb-2 mr-sm-2" placeholder="Enter Company ID" name="companyid" min="1">
        <button type="submit" class="btn btn-primary mb-2">Create</button>
    </form>
    <hr>
    <h2>Patch Station</h2>
    <form class="form-inline" th:action="@{/patch-station}" method="post">
        <input type="number" class="form-control mb-2 mr-sm-2" placeholder="Enter Station ID" name="id" min="1">
        <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Enter Station Name" name="name">
        <input type="number" class="form-control mb-2 mr-sm-2" placeholder="Enter Station Latitude" name="latitude" step="0.000001">
        <input type="number" class="form-control mb-2 mr-sm-2" placeholder="Enter Station Longitude" name="longitude" step="0.000001">
        <button type="submit" class="btn btn-primary mb-2">Patch</button>
    </form>
    <hr>
    <h2>Show All Stations in a Distance</h2>
    <form class="form-inline">
        <input type="number" class="form-control mb-2 mr-sm-2" placeholder="Enter Distance" name="distance" min="1">
        <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Enter Your Latitude" name="name">
        <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Enter Your Longitude" name="name">
        <button type="submit" class="btn btn-primary mb-2">Show</button>
    </form>
    <hr>
    <h2>Show All Stations in a Hierarchy</h2>
    <form class="form-inline">
        <input type="number" class="form-control mb-2 mr-sm-2" placeholder="Enter Company ID" name="id" min="1">
        <button type="submit" class="btn btn-primary mb-2">Show</button>
    </form>
</section>
</body>
</html>